#first-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    & > div.wrapper{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 4px;
        backdrop-filter: blur(4px);

        & > div.content{
            padding: 0 20px;
        }
    }
}