div.full-page.text-page,
div.half-page.text-page{
    margin-top: 50px;

    & > div.content{
        font-size: 19px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 6px 16px;
        margin: 10px 20px;
        backdrop-filter: blur(4px);

        &.dark{
            background-color: rgba(0, 0, 0, 0.75);
        }

        & > p.center{
            text-align: center;
        }
    }
}