canvas.background-animation{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    pointer-events: none;
    opacity: 0.5;

    background: repeating-linear-gradient(-45deg, #000 0px, #000 2px, #282828 3px, #282828 5px, #000 6px);

    transition: 
        background-color ease-in-out 500ms,
        opacity ease-in-out 500ms;
    
    &.maze-animation{
        opacity: 0.65;
    }

    &.matrix-animation{
        opacity: 0.6;
    }
}