

canvas.background-animation{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    pointer-events: none;
    opacity: 0.5;

    transition: 
        background-color ease-in-out 500ms,
        opacity ease-in-out 500ms;
    
    &.maze-animation{
        opacity: 0.55;
    }

    &.matrix-animation{
        opacity: 0.6;
    }

    &.particle-emitter-animation{
        opacity: 0.55;
    }
}