body{
    font-family: 'Source Sans 3 VF', 'Source Sans 3', sans-serif;
    background-color: #000000;
    color: #ffffff;

    margin: 0;
}

h1, h2{
    font-family: 'Source Code Variable', 'Source Code Pro', monospace;
    text-align: center;
}

#page-body{
    position: relative;

    height: 100%;
    width: 100%;
    overflow: auto;

    div.full-page{
        position: relative;

        min-width: 100%;
        min-height: 100%;
    }
}