body{
    font-family: 'Source Sans 3 VF', 'Source Sans 3', sans-serif;
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;

    margin: 0;
}

h1, h2{
    font-family: 'Source Code Variable', 'Source Code Pro', monospace;
    text-align: center;
}

#page-body{
    position: relative;

    height: 100%;
    width: 100%;
    overflow: auto;

    #page-content{
        max-width: 1280px;
        margin: auto;

        div.half-page,
        div.eighty-percent-page, 
        div.full-page{
            position: relative;
    
            margin: auto;
        }

        div.half-page{
            min-width: 50%;
            min-height: 50%;
        }

        div.eighty-percent-page{
            min-width: 80%;
            min-height: 80%;
        }

        div.full-page{
            min-width: 100%;
            min-height: 100%;
        }
    }
    
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(#1ca2f0, 0.25);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(#1ca2f0, 0.3);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(#1ca2f0, 0.7);
}

*::-webkit-scrollbar-thumb:active {
    background: #1ca2f0;
}