span.keyword{
    font-family: 'Source Code Variable', 'Source Code Pro', monospace;

    color: #1ca2f0;
    margin-left: 2px;
    margin-right: 2px;

    &.variable{
        color: #e8eb55;
    }

    &.important{
        color: #ec5b5b;
    }
}