@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div id="page-content">
  <div id="first-page" class="eighty-percent-page">
    <div class="wrapper">
      <div class="content">
        <h1>
          Hello
          <span class="keyword variable" data-glitch-text="{{Your Name}}"
            >{{Your Name}}</span
          >
          and welcome!
        </h1>
        <h2>
          My name is
          <span data-glitch-text="Felix Mayer" class="glitch-0 keyword"
            >Felix Mayer</span
          >
          and I
          <span data-glitch-text="love" class="glitch-1 keyword important"
            >love</span
          >
          programming
          <span data-glitch-text="&lt;3" class="glitch-2 keyword important"
            >&lt;3</span
          >
        </h2>
      </div>
    </div>
  </div>
  <div id="page-about-me" class="half-page text-page">
    <div class="content">
      <h2>About Me</h2>
    </div>
    <div class="content dark">
      <p>
        <span
          >I'm Felix Mayer, a passionate software developer, born in
          <span class="keyword">1998</span> and living in
          <span class="keyword">Ottobeuren</span> (near Memmingen, Germany).
        </span>
        <span
          >I started programming at an early age and have done it as a time
          expensive hobby since <span class="keyword">2013</span>. I gathered
          over <span class="keyword variable">four years</span> of full-time
          experience as a professional full-stack developer and still working on
          personal projects in my
          <span class="keyword variable">spare time</span>.
        </span>
      </p>
      <p>
        <span
          >I love <span class="keyword variable">low-level</span> and hardware
          related technologies and building custom tools and libraries. On the
          other hand, I also admire
          <span class="keyword variable">high-level</span> concepts like
          JavaScript or TypeScript.
        </span>
        <span
          >I'm <span class="keyword important">enthusiastic</span> about the
          genius design of computers and programming languages controlling their
          execution order.
        </span>
        <span
          >That's why I built computers with
          <span class="keyword variable">integrated circuits</span> and Redstone
          in Minecraft. Furthermore, I wrote a little
          <span class="keyword variable">programming language</span> with a
          <span class="keyword variable">cross-compiler</span> into web
          assembly.
        </span>
      </p>
      <p>
        <span
          >I must be able to <span class="keyword variable">understand</span>,
          <span class="keyword variable">maintain</span>,
          <span class="keyword variable">customize</span> and
          <span class="keyword variable">extend</span> the code I engineer, so
          I'm not a big fan of external dependencies.
        </span>
        <span
          >Because of this, I often write my very own libraries and helpers,
          which get the job done well.
        </span>
        <span
          >In my experience, this is the best and fastest way to achieve this
          goal.
        </span>
        <span
          ><span class="keyword">This page</span> is a neat example of this
          attitude. I didn't use any external libraries for graphics, styling or
          frameworks.
        </span>
        <span
          >If you find a
          <span data-glitch-text="BUG" class="glitch-3 keyword important"
            >bug</span
          >, I'll be able to fix it. <span class="keyword">;)</span>
        </span>
      </p>

      <br />
      <br />

      <h3>Skills</h3>

      <h4>Languages</h4>
      <p>
        <span
          >Besides my speaking and typing abilities in both
          <span class="keyword">English</span> and
          <span class="keyword">German</span>, I also can write languages a
          computer is capable of understanding.
        </span>
      </p>

      <h5>AVR Assembly</h5>
      <div class="loading-bar light-orange">
        <div style="width: 60%"></div>
      </div>
      <p>
        <span
          >I only had the pleasure to use the
          <span class="keyword">AVR Instruction Set</span> while working on a
          <span class="keyword variable">professional</span> project, but I
          <span class="keyword variable">quite liked it</span>. Before that, I'd
          never written any assembly instructions.
        </span>
        <span
          >But after a few weeks, I was really into it. It's perfect for
          low-level and internet of things related edge computers. If you need
          to be in control of every bit, it's precisely the right choice.
        </span>
      </p>

      <h5>C/C++</h5>
      <div class="loading-bar yellow">
        <div style="width: 70%"></div>
      </div>
      <p>
        <span
          >I know enough about these languages that I can write programs in them
          <span class="keyword variable">with ease</span>. Not many languages
          beat their performance.
        </span>
        <span
          >That's the reason I used them both for
          <span class="keyword variable">private</span> and
          <span class="keyword variable">work-related</span> projects. Besides
          that, I prefer C# because it's easier to
          <span class="keyword variable">develop</span> and
          <span class="keyword variable">maintain</span>.
        </span>
      </p>

      <h5>C#</h5>
      <div class="loading-bar light-green">
        <div style="width: 90%"></div>
      </div>
      <p>
        <span
          >I used C# for both
          <span class="keyword variable">professional</span> and
          <span class="keyword variable">private</span> projects alike. I've
          taken a deep dive into the language throughout the last
          <span class="keyword variable">seven years</span>.
        </span>
        <span
          >Through the help of decompiles, I also gathered a good understanding
          of some inner workings of built-in libraries. I began with version
          <span class="keyword">6.0</span> of the language and went with time to
          the current C# <span class="keyword">10</span> standard.
        </span>
        <span
          >I'm feeling
          <span class="keyword variable">very confident</span> using it not only
          for small but also for large scale projects. That's why it's my go-to
          language for many tasks.
        </span>
      </p>

      <h5>HTML/CSS/SCSS</h5>
      <div class="loading-bar green">
        <div style="width: 80%"></div>
      </div>
      <p>
        <span
          >Even though these aren't my favourite languages, I'm sure I've got a
          <span class="keyword variable">pretty solid familiarity</span>. I
          think they are sometimes unnecessary complicated, but I know how to
          get them right.
        </span>
        <span
          >I worked both in <span class="keyword variable">private</span> and in
          a <span class="keyword variable">professional</span> environment with
          them.
        </span>
      </p>

      <h5>Java</h5>
      <div class="loading-bar light-orange">
        <div style="width: 55%"></div>
      </div>
      <p>
        <span
          >Nowadays, I'm not up to date with the latest feature of the language,
          but I've got a <span class="keyword variable">solid base</span>. It
          was my gateway into object-oriented programming and my career.
        </span>
        <span
          >But after I discovered C#, I'm only using it rarely. I've still got
          my <span class="keyword">Minecraft</span> server and am writing my
          <span class="keyword variable">plugins</span> in it.
        </span>
      </p>

      <h5>Python</h5>
      <div class="loading-bar orange">
        <div style="width: 30%"></div>
      </div>
      <p>
        <span
          >I wouldn't call myself a Python developer. Over the last few years, I
          used it from time to time for small programs.
        </span>
        <span
          >I'm sure I can get
          <span class="keyword variable">comfortable</span> with it after a few
          more days of reading into it.
        </span>
      </p>

      <h5>SQL</h5>
      <div class="loading-bar green">
        <div style="width: 75%"></div>
      </div>
      <p>
        <span
          >I <span class="keyword variable">appreciate</span> the concepts and
          technologies surrounding it. I'm
          <span class="keyword variable">pretty confident</span> in
          <span class="keyword variable">using</span> and
          <span class="keyword variable">optimizing</span> queries to get
          precisely the data I need at an optimal speed.
        </span>
        <span
          >I think SQL is an excellent tool. I used it not only
          <span class="keyword variable">professionally</span> but also in many
          <span class="keyword variable">private</span> programs. Though I
          nowadays believe Mongo DB is predominantly better.
        </span>
      </p>

      <h5>TypeScript/JavaScript</h5>
      <div class="loading-bar light-green">
        <div style="width: 95%"></div>
      </div>
      <p>
        <span
          >TypeScript is currently my
          <span class="keyword important">favourite</span> programming language
          of them all. After using JavaScript
          <span class="keyword variable">private</span> and
          <span class="keyword variable">professionally</span> for many years
          and <span class="keyword variable">teaching</span> friends programming
          with it, I switched to TypeScript after a good friend recommended it.
        </span>
        <span
          >Now I wouldn't like to switch back. It's a
          <span class="keyword variable">strongly typed</span> language that
          compiles into JavaScript. That's why it's perfect for big web
          projects.
        </span>
        <span
          >A problem I see with this language is that it looks like another C
          language when it isn't. It's a
          <span class="keyword variable">dynamic</span> scripting language with
          <span class="keyword variable">fluid type</span> conversions.
        </span>
      </p>

      <h5>Other</h5>
      <p>
        <span
          >I <span class="keyword variable">like</span> programming languages
          and their concepts, so I try and
          <span class="keyword variable">learn</span> a lot of them.
        </span>
        <span
          >To name a few: Bash, Brainfuck, Elm, GLSL, Haskell, PHP, PowerShell,
          VBA, WebAssembly, Windows Batch, etc.
        </span>
        <span
          >I wrote at least <span class="keyword variable">some</span> programs
          in each of the listed languages, but I wouldn't say I know them well.
        </span>
        <span
          >I used <span class="keyword">PHP</span> as an example for a few
          projects, but I was never stuck on it.
        </span>
      </p>
      <p>
        <span
          >On the other hand, <span class="keyword">Elm</span> is a language I'm
          currently learning.
        </span>
        <span
          >It's a <span class="keyword variable">functional language</span> with
          many beautiful features, like the goal of no runtime exceptions or
          side effects.
        </span>
        <span
          >Maybe I'll never use it in any production environment, but I can
          <span class="keyword variable">learn</span> a lot from its design.
        </span>
      </p>
      <p>
        <span
          >I'll try to stay
          <span class="keyword variable">open-minded</span> toward new ways of
          coding. In most cases, we don't need to reinvent the wheel.
        </span>
        <span
          >There are many field-proven technologies, but we can still
          <span class="keyword variable">enhance</span> others.
        </span>
      </p>

      <br />
      <br />

      <h4>Communication</h4>
      <p>
        <span
          >There isn't any use in languages if you can't communicate with
          others.
        </span>
        <span
          >I enjoy <span class="keyword variable">sharing</span> concepts and
          ideas with friends, colleagues and other people. Most of the time,
          both sides benefit from it.
        </span>
      </p>
      <p>
        <span
          >I prefer working in
          <span class="keyword variable">small-sized teams</span> to get a more
          versatile picture of the problem and the possible
          <span class="keyword variable">solutions</span>.
        </span>
        <span
          >In some way or form, I think my job is
          <span class="keyword variable">thinking differently</span>.
        </span>
        <span
          >That's why the views of other people can benefit this whole process.
        </span>
      </p>
      <p>
        <span
          >I'm <span class="keyword important">burning</span> to share new
          knowledge I gathered and when I'm receiving it.
        </span>
        <span
          >That's why I frequently also
          <span class="keyword variable">taught</span> many people different
          kinds of programming.
        </span>
      </p>
    </div>
  </div>
  <div id="page-my-personal-history" class="half-page text-page">
    <div class="content">
      <h2>My Personal History</h2>
    </div>
    <div class="content dark">
      <p>
        <span
          >My parents gave me my first PC while I was in Kindergarten, and since
          then, I've been hooked and interested in the inner workings of
          computers.
        </span>
        <span
          >It didn't take long until I unscrewed it and took it apart, but after
          my third computer, it also worked after I reassembled it.
          <span class="keyword variable">:)</span>
        </span>
        <span
          >I don't know how often I (re-) installed
          <span class="keyword">Windows 98</span> on it, but it was every few
          months.
        </span>
      </p>
      <p>
        <span
          >I taught myself programming, in the beginning with simple Windows
          <span class="keyword">Batch</span> scripts and later with
          <span class="keyword">AutoIt</span>.
        </span>
        <span
          >When I was <span class="keyword">13</span> years old, I started
          playing <span class="keyword">Minecraft</span> a lot. I hosted my
          servers and started learning <span class="keyword">Java</span>.
        </span>
        <span
          >I used <span class="keyword">Java</span> for custom plugins to manage
          my server and add features for the players there. That was my gateway
          into
          <span class="keyword variable">object-oriented programming</span>.
        </span>
        <span
          >I learned the concepts surrounding it and how I could use it.
        </span>
      </p>
      <p>
        <span
          >I finished secondary school and began an apprenticeship as an IT
          specialist for application development in
          <span class="keyword">2015</span>.
        </span>
        <span
          >During my first year there, I started working for over
          <span class="keyword variable">four years</span> on a big project for
          managing vehicle keys. It was an investment of over
          <span class="keyword">700.000€</span> in hardware alone.
        </span>
        <span
          >It has been extended and maintained since
          <span class="keyword">2017</span> and is running pretty stable.
        </span>
        <span
          >I made most of the decisions and developed, for example, a custom bus
          communication protocol between the boxes used for storing the vehicle
          keys. Wrote the firmware on them and created the schematic for the
          PCBs.
        </span>
        <span
          >The system uses <span class="keyword">ASP.NET Framework</span> as a
          centralized Server, Windows touch clients for user input, a background
          service for connecting the boxes, a fingerprint reader and a vehicle
          key reader with the server.
        </span>
        <span
          >For data storage, I used <span class="keyword">Microsoft SQL</span>,
          <span class="keyword">Mongo DB</span> and a self-made automatic
          in-memory caching system witch creates indexes on every tuple value.
        </span>
        <span
          >This way, it runs extremely fast and has no problem keeping up with
          hundreds of thousands of in-memory queries per second.
        </span>
      </p>
      <p>
        <span
          >I designed and developed the whole system from the ground up.
        </span>
        <span
          >My colleagues and I put it up and rolled it out in our multiple
          branches. After that, we trained our employees.
        </span>
        <span
          >With this project, I experienced the whole process of
          <span class="keyword variable">designing</span>,
          <span class="keyword variable">building</span>,
          <span class="keyword variable">expanding</span> and
          <span class="keyword variable">maintaining</span> a more or less
          complex software project witch also involves custom made hardware.
        </span>
        <span
          >I can do nothing but thank my colleagues and employer for this great
          work and for the chance I could
          <span class="keyword green">grow</span>.
        </span>
      </p>
      <p>
        <span
          >Looking back, I would do a few things differently. But I didn't know
          it better at that time.
        </span>
        <span
          >I completed my current degree in computer science as a
          <span class="keyword">Computer Science Expert</span> in the subject
          area of <span class="keyword">Application Development</span> there.
        </span>
      </p>
      <p>
        <span
          >I quit my job as a
          <span class="keyword variable">full-stack developer</span> in
          <span class="keyword">2019</span> to go back to school and get
          <span class="keyword variable">high school graduation</span>.
        </span>
        <span
          >Currently, I'm <span class="keyword variable">studying</span>
          <span class="keyword">Computer Science</span> at the university of
          applied science in <span class="keyword">Kempten</span>.
        </span>
        <span
          >But in my semester breaks, I get back to my old colleagues and
          employer to improve my project and earn some money.
        </span>
      </p>
      <p>
        <span
          >I'm looking with curiosity into the future and trying to grow my
          skillset until then. <span class="keyword variable">:)</span>
        </span>
      </p>
    </div>
  </div>
  <div id="page-projects" class="half-page text-page">
    <div class="content">
      <h2>Projects And Spare Time Activities</h2>
    </div>
    <div class="content dark">
      <p>
        <span
          >As I stated earlier: I
          <span class="keyword important">love</span> programming!
        </span>
        <span
          >I do it a lot in my spare time, but it isn't the only thing I spend
          my time on.
        </span>
      </p>
      <h3>Teaching Programming</h3>
      <p>
        <span
          >I've got asked a lot by friends and family if I could
          <span class="keyword variable">help</span> them with programming.
        </span>
        <span
          >They'll send me their code with
          <span class="keyword important">bugs</span>, and I'll try to find and
          <span class="keyword variable">explain</span> why it isn't working.
        </span>
        <span
          >Or they describe some problem they are trying to solve, and I'll try
          my best to <span class="keyword variable">help</span> them.
        </span>
      </p>
      <p>
        <span
          >But my <span class="keyword variable">favourite</span> thing is when
          we meet up in person or online and I explain to them some basics with
          a <span class="keyword variable">graphical</span> example.
        </span>
        <span
          >Sometimes it's in the form of a small
          <span class="keyword variable">game</span> like tic-tac-toe or a
          platformer.
        </span>
        <span
          >Other times it's an
          <span class="keyword variable">animation</span>/<span
            class="keyword variable"
            >simulation</span
          >
          with JavaScript, like the one in the background of
          <span class="keyword important">this</span> page.
        </span>
        <span
          >I think the best way is to
          <span class="keyword variable">learn</span> by
          <span class="keyword variable">doing</span>/<span
            class="keyword variable"
            >playing</span
          >, and often the concepts of a game are somewhat simple.
        </span>
        <span
          >This way, both sides can
          <span class="keyword variable">expand</span> the scope with their
          ideas, and in the end, there is something
          <span class="keyword variable">impressive</span>.
        </span>
        <span
          >And best of all, everyone
          <span class="keyword variable">learns</span> something new.
        </span>
      </p>

      <h3>Tinkering with Electronics</h3>
      <p>
        <span
          >I'm not in a relationship with my
          <span class="keyword variable">soldering iron</span>, but there is
          always something exciting surrounding it.
          <span class="keyword variable">;)</span>
        </span>
      </p>
      <p>
        <span
          >When I had my 3d printer,
          <span class="keyword variable">auto bed levelling</span> wasn't a
          widespread feature, so I added it.
        </span>
        <span
          >I <span class="keyword variable">modelled</span> and
          <span class="keyword variable">printed</span> many things to improve
          its capabilities.
        </span>
        <span
          >One week I also wrote a small program converting images into g-code
          for <span class="keyword variable">plotting</span> with a pen,
          attached to the head with cable ties.
        </span>
        <span
          >I <span class="keyword variable">discovered</span> a lot with this
          machine, which hadn't any real-world use for me.
        </span>
      </p>
      <p>
        <span
          >I <span class="keyword variable">built</span> and
          <span class="keyword variable">modified</span> some sensors and actors
          for home automation.
        </span>
        <span
          >I've used a lot of
          <span class="keyword variable">integrated circuits</span> and
          <span class="keyword variable">breadboards</span> for making
          impractical wirings.
        </span>
        <span
          >But there's a lot to learn about their
          <span class="keyword variable">inner workings</span> and
          <span class="keyword variable">electronics</span>.
        </span>
      </p>
      <p>
        <span
          >A current project is a
          <span class="keyword variable">smart mirror</span> consisting of a
          display, a one-sided mirror, a raspberry pi and some sensors.
        </span>
        <span
          >It looks like a regular mirror, but you can
          <span class="keyword variable">see through</span> the surface and
          <span class="keyword variable">read</span> text from the display
          underneath.
        </span>
        <span
          >That way, I can display information like the current
          <span class="keyword variable">date</span> and
          <span class="keyword variable">time</span>,
          <span class="keyword variable">weather</span> data and
          <span class="keyword variable">events</span>.
        </span>
        <span
          >With the help of an
          <span class="keyword variable">infrared frame</span>, the glass
          surface can recognize
          <span class="keyword variable">touch inputs</span>, and I can control
          other devices.
        </span>
        <span
          >There is also motion- and ambient light
          <span class="keyword variable">sensors</span> on it, so it knows when
          you're near it.
        </span>
      </p>

      <h3>Photography</h3>
      <p>
        <span
          >In my early teens, I've spent a lot of time with 3d motion-,
          material- and light design with
          <span class="keyword">Cinema 4D</span>.
        </span>
        <span
          >On top of that, I also liked video editing and
          <span class="keyword">VFX</span>.
        </span>
        <span
          >Currently, I'm not that interested anymore, but I like the
          <span class="keyword variable">concepts</span> and
          <span class="keyword variable">technics</span> surrounding it.
        </span>
        <span
          >So I bought a small mirrorless camera a few years ago, and since
          then, <span class="keyword variable">photography</span> has become one
          of my hobbies.
        </span>
      </p>
      <p>
        <span
          >It helps me to get a
          <span class="keyword green">balance</span> between sitting activities
          and travelling.
        </span>
        <span
          >I enjoy going on a <span class="keyword variable">walk</span> with
          dogs or <span class="keyword variable">hiking</span> in the Alps.
        </span>
        <span>And most of the time, I've got my camera near me. </span>
      </p>
      <div id="photography-gallery-container"></div>

      <h3>Playing with Servers</h3>
      <p>
        <span
          >I've got a few, mainly virtual,
          <span class="keyword variable">servers</span> in my home.
        </span>
        <span
          >I tried <span class="keyword">unraid</span> in 2018, and now I've got
          <span class="keyword">36</span> CPU cores (72 threads),
          <span class="keyword">160 GB</span> RAM and over
          <span class="keyword">26 TB</span> of raw storage running
          <span class="keyword">24/7</span>.
        </span>
        <span
          >I fully configured a <span class="keyword">pfSense</span> firewall
          with <span class="keyword">VLANs</span>,
          <span class="keyword">NAT</span> and <span class="keyword">DMZ</span>.
        </span>
        <span
          >Got a <span class="keyword variable">traffic proxy</span> for
          requests from the outside and can
          <span class="keyword variable">host</span> most of the services I need
          on a daily base at home.
        </span>
        <span
          ><span class="keyword">This site</span> also is running on one of my
          servers. <span class="keyword variable">:)</span>
        </span>
      </p>
      <p>
        <span
          >This way, I learned a lot about
          <span class="keyword variable">networking</span>,
          <span class="keyword variable">virtualization</span> and
          <span class="keyword variable">hosting</span>.
        </span>
      </p>

      <h3>Home Automation</h3>
      <p>
        <span
          >At the beginning of <span class="keyword">2021</span>, I discovered
          <span class="keyword">Home Assistant</span> and smart-home.
        </span>
        <span
          >When I switch on my <span class="keyword variable">projector</span>,
          the <span class="keyword variable">lighting</span> dims, and the
          <span class="keyword variable">sound system</span> powers on
          automatically.
        </span>
        <span
          >I know how <span class="keyword variable">much</span> water there is
          in the garden pond and how
          <span class="keyword variable">fast</span> it's flowing through the
          garden hose.
        </span>
        <span
          >If I want to fill It up, the water
          <span class="keyword variable">stops</span> without any manual
          interaction after the pond has reached the desired level.
        </span>
        <span
          >I can <span class="keyword variable">unlock</span> the door with my
          phone. Mounted <span class="keyword variable">motion sensors</span> in
          the hallways and made the lights
          <span class="keyword variable">controllable</span>.
        </span>
      </p>
      <p>
        <span
          >Everything runs <span class="keyword variable">locally</span> on my
          server, and I'm in
          <span class="keyword variable">complete control</span>.
        </span>
        <span
          >I've got an outdoor night vision cam with local
          <span class="keyword variable">object detection</span> and
          <span class="keyword variable">face recognition</span> set up, and
          everything runs in <span class="keyword variable">real-time</span>.
        </span>
      </p>
      <p>
        <span
          >I disassembled an old
          <span class="keyword variable">body scale</span> and mounted the
          sensors underneath the feet of my
          <span class="keyword variable">bed</span>.
        </span>
        <span
          >My bed is now a <span class="keyword variable">scale</span>, and my
          house knows when I, my partner or both lay in bed.
        </span>
        <span
          >When we are going to sleep, the
          <span class="keyword variable">heating</span> regulates down on its
          own, and the <span class="keyword variable">alarm clock</span> in the
          morning only stops after leaving it.
        </span>
      </p>
      <p>
        <span
          >I <span class="keyword important">don't need</span> a voice assistant
          or cloud application, <span class="keyword important">nor</span> is it
          required.
        </span>
        <span
          >Everything is in <span class="keyword variable">one app</span>.
        </span>
      </p>
    </div>
  </div>
  <div id="page-contact" class="half-page text-page">
    <div class="content">
      <h2>Contact</h2>
    </div>
    <div class="content dark">
      <p>
        <span>Do you want to get in touch with me?</span><br />
        <span
          >Don't hesitate to write an E-Mail to:
          <a href="mailto:info@FelixMayer.info" target="_blank" rel="noopener"
            ><span class="keyword">info@FelixMayer.info</span></a
          >
          .</span
        ><br />
      </p>
      <p>
        <span
          >You can also check out
          <a href="https://github.com/yerTools" target="_blank" rel="noopener"
            ><span class="keyword underline">GitHub</span></a
          >
          (<span class="keyword variable">yerTools</span>).</span
        >
      </p>
      <p>
        <span
          >Here is kind of an <span class="keyword variable">imprint</span> to
          be legally on the right sight:</span
        >
      </p>
      <p class="center">
        <span>Felix Mayer</span><br />
        <span>Obere Str. 17</span><br />
        <span>87724 Ottobeuren</span><br />
        <span>contact@FelixMayer.info</span><br />
        <span>+49 1525 9018334</span>
      </p>
      <p>
        <span
          >I'm looking forward to hearing from you.
          <span class="keyword variable">:)</span></span
        >
      </p>
    </div>
  </div>
  <div class="full-page"></div>
</div>